
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* untuk mengatur tipe display tombol */
    display: inline-block;
    /* dirubah ujungnya jadi melengkung */
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-.3rem);
    /* x dir, y dir, blur, warna+opacity */
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.btn--white {
    background-color: white;
    color: grey;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid grey;
}